.App {
  text-align: center;
}

.pagination-container{
  display: flex;
  margin: auto;
  padding: 0;
  justify-content: center;
}

.page, .prev, .next, .break{
  padding: 5px 20px;
  list-style: none;
  border: 1px solid lightblue;
  background-color: lightcyan;
  color: #888888;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  cursor: pointer;
}

.active{
  font-weight: bold;
}

.user-list-container{
  display: block;
  margin: 20px auto;
  width: 500px;
  padding: 20px;
  border: 1px solid lightblue;
}

.user-container{
  display: flex;
  width: 100%;
  padding: 5px 0;
  border-bottom: 1px solid lightblue;
  color: #555555;
}

.user-container:last-child{
  border-bottom: none;
}

.user-name{
  text-align: left;
  flex-basis: 60%;
  font-weight: bold;
}

.user-email{
  text-align: right;
  flex-basis: 40%;
  border-left: 1px solid lightblue;
}